/build/
/.qtcreator/
/.vs/
*.user
*.log
*.csv
CMakeCache.txt
CMakeFiles/
compile_commands.json

config/client_config.local.ini
config/camera_config.ini
.env
*.env

third_party/ffmpeg/
*.exe
*.dll
*.obj
*.pdb
*.ilk